<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Vira | Last</title>
        <link rel="shortcut icon" type="image/x-icon" href="my_hotel/static/assets/images/logo.png"/>
        <link href="my_hotel/static/assets/css/bootstrap.min.css" rel="stylesheet">
        <link href="my_hotel/static/assets/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="my_hotel/static/assets/css/owl.carousel.css" rel="stylesheet">
        <link href="my_hotel/static/assets/css/owl.theme.default.min.css" rel="stylesheet">
        <link href="my_hotel/static/assets/css/magnific-popup.css" rel="stylesheet">
        <link href="my_hotel/static/assets/css/style.css" rel="stylesheet">
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    </head>

    <body>
        <div class="main">
            <header class="bg-img header">
                <nav class="navbar navbar-default navbar-vira">
                    <div class="container">
                    </div>
                </nav>
                <div class="container">
                    <div class="row">
                        <div class="intro-box">
                            <div class="intro">
                                <h1>Last step</h1>
                                <p>All forms are completed, payment was successful.Choose the last step</p>
                                <a class="btn vira-btn" href="/">Redirect to Vira | Home</a>
                                {%for row in title %}
                                    {%for name in name_user_ticket %}
                                        <a class="btn vira-btn" href="pay/{{row.id}}/{{name.id}}">View my Ticket</a>
                                        <a class="btn vira-btn" href="download/{{row.id}}/{{name.id}}">Donwload Ticket</a>
                                        <a class="btn vira-btn" href="support.{{row.id}}.{{name.id}}">Support</a>
                                    {%endfor%}
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        <script src="my_hotel/static/assets/js/jquery-3.1.1.js"></script>
        <script src="my_hotel/static/assets/js/bootstrap.min.js"></script>
        <script src="my_hotel/static/assets/js/owl.carousel.min.js"></script>
        <script src="https://use.fontawesome.com/55b73bf748.js"></script>
        <script src="my_hotel/static/assets/js/jquery.magnific-popup.js"></script>
        <script src="my_hotel/static/assets/js/script.js"></script>
    </body>
</html>
