<!doctype html>
<html lang="en">
  <head>
  	<title>Vira | Ticket Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="my_hotel/static/css/login/login_style.css">
	<link rel="stylesheet" href="my_hotel/static/css/style.css">
  </head>
	<header class="header" id="header">
		<div class="container">
			<div class="header__inner">
				<div class="header__logo" data-scroll="#intro">Vira | Ticket Form</div>
					<nav class="nav" id="nav">
						<a class="nav__link" href="Home">Home</a>
						<a class="nav__link" href="hotels#0">Hotels</a>
						{% if request.user.is_authenticated %}
							<b><a class="nav__link" href="#">{{ user.username }} </a></b> | <a class="nav__link" href="{% url 'Out' %}">Logout</a>
						{%else%}
							<a class="nav__link" href="Login" >Login in</a>
							<a class="nav__link" href="Register" >Sign up</a>
						{% endif %}
					</nav>
				</div>
			</div>
		</div>
	</header>
	<body class="img js-fullheight" style="background-image: url(my_hotel/static/images/1221.jpeg);">
		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-6 text-center mb-5">
						<h2 class="heading-section">Booking Page</h2>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-md-6 col-lg-4">
						<div class="login-wrap p-0">
					<h3 class="mb-4 text-center">Booking and travel</h3>
					<div class="form-group">
						<form action="" method="post">
							{{ form.as_p }}
							{% csrf_token %}
							<button type="submit" class="form-control btn btn-primary submit px-3">Перейти к оплате</button>
						</form>
					</div>
		</section>
		<script src="my_hotel/static/js/js_login/jquery.min.js"></script>
		<script src="my_hotel/static/js/js_login/popper.js"></script>
		<script src="my_hotel/static/js/js_login/bootstrap.min.js"></script>
		<script src="my_hotel/static/js/js_login/main.js"></script>
	</body>
</html>

