<form class="center" action="">
    <h2 style="background-color:DodgerBlue;">Найдите жилье для новой поездки, по вкусным прайсам
        и огромным выбором апартаментов.
    </h2>
</form>
    <form class="left" action="">
    <p style="color:DodgerBlue;">Выберите страну,которую давно хотели посетить.
    </p>
    <label for="POST-name">Выберите страну путешествия</label>
    <select name="select">
        <option value="value1">
            Значение 1
        </option>
        <option value="value2" selected>
            Значение 2
        </option>
        <option value="value3">
            Значение 3
        </option>
    </select>

</form>
<p ></p>
<form class="left" action="">
 <p style="color:DodgerBlue;">Выберите дату поездки.</p>
</form>

<form class="" action="">
    <label for="POST-name">Выберите дату</label>
    <label for="POST-name">Input</label>
    <input id="POST-name" type="date" name="date_start"/>
    <label for="POST-name">Output</label>
    <input id="" type="date" name="date_finish"/>
</form>
<p ></p>
<p>На сколько поедешь?:
<form action="/action_page.php"
oninput="x.value=parseInt(a.value)">
  0
  <input type="range" id="a" name="a" value="0">
  100
<p>Твое количество дней = <output name="x" for="x">
  </output>
</form>
<p ></p>

  <br><br>

