
<!doctype html>
<html lang="en">
  <head>
  	<title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
		<link rel="stylesheet" href="my_hotel/static/css/login/login_style.css">
	  	<link rel="stylesheet" href="my_hotel/static/css/style.css">
	<header class="header" id="header">
		<div class="container">
			<div class="header__inner">
				<div class="header__logo" data-scroll="#intro">MyHotels</div>

				<nav class="nav" id="nav">
					<a class="nav__link" href="Home">Главная</a>
					<a class="nav__link" href="hotels">Отели</a>
					<a class="nav__link" href="Login" >Войти</a>
					<a class="nav__link" href="Register" >Регистрация</a>
				</nav>
			</div>
		</div>
	</header>
	</head>

	<body class="img js-fullheight" style="background-image: url(my_hotel/static/imageslogin/bg.jpg);">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Login</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center">Please Enter In Your Account</h3>
				<div class="form-group">
		      		<form action="" method="post">
					{% csrf_token %}
					{{ user_form.as_p }}
<!--		      		<div class="form-group">-->
<!--		      			<input id="username" type="text" class="form-control" placeholder="Username" required>-->
<!--		      		</div>-->
<!--	            <div class="form-group">-->
<!--	              <input id="password-field" type="password" class="form-control" placeholder="Password" required>-->
<!--	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>-->
<!--	            </div>-->

	            	<button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
					</form>
	            </div>
	            <div class="form-group d-md-flex">
	            	<div class="w-50">
		            	<label class="checkbox-wrap checkbox-primary">Remember Me
									  <input type="checkbox" checked>
									  <span class="checkmark"></span>
									</label>
								</div>
								<div class="w-50 text-md-right">
									<a href="Register" style="color: #fff">Forgot Password</a>
								</div>
	            </div>
	</section>

	<script src="my_hotel/static/js/js_login/jquery.min.js"></script>
	<script src="my_hotel/static/js/js_login/popper.js"></script>
	<script src="my_hotel/static/js/js_login/bootstrap.min.js"></script>
	<script src="my_hotel/static/js/js_login/main.js"></script>

	</body>
</html>

