body {
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: rgb(0, 211, 253);
}

form.center {
    border: 3px solid #2523c2;
    text-align: center;
}

.center {
    text-align: center;
}

/* nav{
    width: 50%;
    left: 38%;
    box-shadow: rgb(0, 211, 253);
} */